<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}">
    <title>Import Configuration</title>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: navbar-content}"></div>

<!-- Include the toast fragment -->
<div th:replace="~{fragments/toast :: toast}"></div>

<div class="row mb-3">
    <div class="col-md-9">
        <!-- Updated file input field -->
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="form-control" id="fileInput" accept=".zip" name="api" required>
                <label class="custom-file-label" for="fileInput">Select Configuration Bundle</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <!-- Upload button -->
        <button id="uploadButton" class="btn btn-primary w-100">Upload</button>
    </div>
</div>


<script src="/js/toast.js"></script>
<script src="/js/import.js"></script>
</body>
</html>
